<div class="flex flex-row my-20 rounded-lg shadow-lg">
  <div class="w-full p-12 text-gray-100 rounded-lg lg:w-3/5 bg-gradient-to-r from-black to-purple-900 lg:from-black lg:via-purple-900 lg:to-transparent">
    <div class="lg:w-1/2">
      <h3 class="mb-4 text-2xl font-extrabold">Subscribe to get our offers first</h3>
      <p class="mb-4 leading-relaxed">Want to hear from us when we have new offers? Sign up for our newsletter and we'll email you every time we have new sale offers.</p>
      <div>
        <input type="email" placeholder="Enter email address" class="w-full px-4 py-3 mb-4 text-gray-200 placeholder-gray-400 bg-gray-600 rounded-lg focus:outline-none" />
        <button type="submit" class="w-full py-3 bg-red-600 rounded-lg">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="hidden w-full lg:w-2/5 lg:flex lg:flex-row">
    <%= image_tag "subscribe-banner.svg", alt:  "subscriber-banner", class: "h-96" %>
  </div>
</div>
