
<div class="container p-5 mx-auto">
  <div class="mt-20 md:flex md:flex-row">
    <div class="flex flex-col items-center justify-center md:w-2/5">
      <h2 class="mb-4 font-serif text-5xl text-center text-gray-600 md:self-start md:text-left">Summer Collection</h2>
      <p class="tracking-wide text-center text-gray-600 uppercase md:self-start md:text-left">Waroeng Kaos</p>
      <p class="tracking-wide text-center text-gray-600 uppercase md:self-start md:text-left">Enakku Enakmu</p>
      <a href="#" class="px-8 py-4 my-5 text-xl uppercase rounded-full bg-gradient-to-r from-red-600 to-pink-500 text-gray-50 md:self-start">Shop Now</a>
    </div>
    <div class="md:w-3/5">
      <%= image_tag "hero-img", alt: "hero-img", class: "w-full" %>
    </div>
  </div>
</div>

<%= render "products/product" %>
