<section class="py-12 sm:py-16">
  <div class="container px-4 mx-auto">
    <nav class="flex">
      <ol role="list" class="flex items-center">
        <li class="text-left">
          <div class="-m-1">
            <a href="#" class="p-1 text-sm font-medium text-gray-600 rounded-md focus:text-gray-900 focus:shadow hover:text-gray-800"> Home </a>
          </div>
        </li>
        <li class="text-left">
          <div class="flex items-center">
            <span class="mx-2 text-gray-400">/</span>
            <div class="-m-1">
              <a href="#" class="p-1 text-sm font-medium text-gray-600 rounded-md focus:text-gray-900 focus:shadow hover:text-gray-800"> Products </a>
            </div>
          </div>
        </li>
        <li class="text-left">
          <div class="flex items-center">
            <span class="mx-2 text-gray-400">/</span>
            <div class="-m-1">
              <a href="#" class="p-1 text-sm font-medium text-gray-600 rounded-md focus:text-gray-900 focus:shadow hover:text-gray-800" aria-current="page"> Coffee </a>
            </div>
          </div>
        </li>
      </ol>
    </nav>
    <div class="grid grid-cols-1 gap-12 mt-8 lg:col-gap-12 xl:col-gap-16 lg:mt-12 lg:grid-cols-5 lg:gap-16">
      <div class="lg:col-span-3 lg:row-end-1">
        <div class="lg:flex lg:items-start">
          <div class="lg:order-2 lg:ml-5">
            <div class="max-w-xl overflow-hidden rounded-lg">
              <%= image_tag @product.images.first, class: "object-cover w-full h-[500px] max-w-[500px]" %>
            </div>
          </div>
          <div class="w-full mt-2 lg:order-1 lg:w-32 lg:flex-shrink-0">
            <div class="flex flex-row items-start pswp-gallery lg:flex-col" data-controller="photoswipe" >
              <% @product.images.each do |image| %>
                <%= link_to image, "data-pswp-width": "1875",  "data-pswp-height": "2500" do %>
                  <%= image_tag image, class: "object-cover w-full h-full" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2 lg:row-span-2 lg:row-end-2">
        <%= render  "order_items/form" %>
      </div>
      <div class="lg:col-span-3">
        <div class="border-b border-gray-300">
          <nav class="flex gap-4">
            <a href="#" title="" class="py-4 text-sm font-medium text-gray-900 border-b-2 border-gray-900 hover:border-gray-400 hover:text-gray-800"> Description </a>
            <a href="#" title="" class="inline-flex items-center py-4 text-sm font-medium text-gray-600 border-b-2 border-transparent">
              Reviews
              <span class="block px-2 py-px ml-2 text-xs font-bold text-gray-100 bg-gray-500 rounded-full"> 1,209 </span>
            </a>
          </nav>
        </div>
        <div class="flow-root mt-8 sm:mt-12">
          <h1 class="text-3xl font-bold">Delivered To Your Door</h1>
          <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia accusantium nesciunt fuga.</p>
          <h1 class="mt-8 text-3xl font-bold">From the Fine Farms of Brazil</h1>
          <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio numquam enim facere.</p>
          <p class="mt-4">Amet consectetur adipisicing elit. Optio numquam enim facere. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore rerum nostrum eius facere, ad neque.</p>
        </div>
      </div>
    </div>
  </div>
</section>
