<% content_for :title, "New option" %>

<div class="w-full md:w-2/3">
  <h1 class="text-4xl font-bold">New option</h1>
  <%= turbo_frame_tag @option_type do%>
    <%= render "form", option_type: @option_type %>
  <% end %>

  <%= link_to "Back to options", admin_option_types_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
